# Visual Studio ve proje dosyaları
.vs/
*.user
*.suo

# Derleme klasörleri
bin/
obj/

# Çalışma ortamı dosyaları
Debug/
Release/

# NuGet dosyaları
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Gereksiz loglar ve yedekler
*.log
*.db
*.bak

# Sadece belirli DLL dosyalarını hariç tut (NuGet olmayan)
*.dll
!ClassLibrary/**/*.cs
!ForexWise/**/*.cs

# Çözüm dosyasını koruyun
!*.sln
!*.csproj


